@use '../node_modules/bootstrap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  color: rgba(255, 255, 255, 0.87);
  // COLOR CUBE
  $Sugar_Cane: #fefffe;
  $Butterfly_Bush: #554e9e;
  $Mine_Shaft: #262626;
  $Blaze_Orange: #fe6601;
  $Cameo: #d7ac95;
  $Crimson: #d71938;
  $Sushi: #84b443;
  $Limeade: #36ad02;
  $School_bus_Yellow: #fcd902;
  $Curios_Blue: #1bafe4;
  // MEDIAN CUT
  $Bon_Jour: #e8e6e7;
  $East_Bay: #444275;
  $Mojo: #c34937;
  $Twine: #c29458;
  $Vida_Loca: #47be27;
  // MATERIAL DESIGN
  $Victoria: #4c4a9b;
  $Eunny: #cd9f90;
  $Lima: #47bd23;
  $Tuatara: #242423;
  $Cashmere: #e2bea5;
}